<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- <p>{{ serverCreationStatus }}</p> -->

<!-- <input type="text" class="form-control" [(ngModel)]="username">
<p>{{username}}</p>
<button
  class="btn btn-primary"
  [disabled]="username===''"
  (click)="onClickUsername()"
>
Reset Username
</button> -->

<p *ngIf="serverCreated; else noServer">
  Server was created ,Server name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>

<button class="btn btn-primary" (click)="onToggleDetails()">
  Display Details
</button>
<p *ngFor='let logs of log' [ngStyle]='{backgroundColor: logs>=5? "blue" :"transparent"}' [ngClass]="{'white-text':logs>=5}">
 {{logs}}
</p>
<br>
<app-server *ngFor="let server of servers"></app-server>
